h1, h3{
    text-align: center;
}
nav ul {
    font-size: larger;
    list-style-type: none;
    list-style-position: inside;
    overflow: auto;
}
nav li {
    text-align: center;
    float: left;
}
nav li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    font-size: large;
    list-style-type: disc;
    list-style-position: inside;
    overflow: auto;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

ol {
    font-size: large;
    list-style-type: 1;
    list-style-position: inside;
    overflow: auto;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}