h1, h3{
    text-align: center;
}
nav a {
    padding: 0 10px;
}
ul {
    font-size: large;
    list-style-type: disc;
    list-style-position: inside;
    overflow: auto;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

ol {
    font-size: large;
    list-style-type: 1;
    list-style-position: inside;
    overflow: auto;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}